
/* 1. Feladat */

#feladat1-grid-tarolo {
    background-color: yellow;
    display:grid;
    
    padding: 5px;
    gap:5px;
    grid-template-columns: repeat(2 , 200px);
}


#feladat1-grid-tarolo div{
    border: 1px solid black;
    background-color: red;
}
/* 2. Feladat */

#feladat2-grid-tarolo{
    background-color: yellow;
    display:grid;

    padding: 5px;
    
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

#feladat2-grid-tarolo div {
    border: 1px solid black;
    background-color: red;
}


/* 3. Feladat */

#feladat3-grid-tarolo {
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(100, 10px);
    grid-template-rows: repeat(100, 10px);
}


/* 4. Feladat */

#feladat4-grid-tarolo {
    display:grid;
    grid-template-columns: repeat(2,200px) repeat(2,100px) 1fr;
}
.feladat4-grid-elem{
    border:1px solid black;
    background-color: red;
}


/* 5. Feladat */

#feladat5-grid-tarolo{
    display:grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-between;
}

.feladat5-grid-elem{
        border: 1px solid black;
        background-color: red;
}


/* 6. Feladat */

#feladat6-grid-tarolo{
    display:grid;
    grid-template-columns: repeat(3,auto);
    height:100px;
    align-content: end;
    background-color:yellow;
}

.feladat6-grid-elem {
    border: 1px solid black;
    background-color: red;
}


/* 7. Feladat */

#feladat7-grid-tarolo{
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px 5px;
    background-color: yellow;
}

.feladat7-grid-elem {
    border: 1px solid black;
    background-color: red;
}


/* 8. Feladat */

img {
    width: 100%;
}

#feladat8-grid-tarolo {
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px 5px;
    background-color: yellow;
    grid-template-areas: 
    "A A B "
    "C D D"
    "E E E";
    font-size: 22px;
}

#feladat8-grid-elem-A {
    grid-area: A;
    border: 1px solid black;
    background-color: red;
}
#feladat8-grid-elem-B {
    grid-area: B;
    border: 1px solid black;
    background-color: red;
}
#feladat8-grid-elem-C {
    grid-area: C;
    border: 1px solid black;
    background-color: red;
}
#feladat8-grid-elem-D {
    grid-area: D;
    border: 1px solid black;
    background-color: red;
}
#feladat8-grid-elem-E {
    grid-area: E;
    border: 1px solid black;
    background-color: red;
}


/* 11. Feladat */

#feladat11-grid-tarolo {
    display:grid;
    grid-template-areas: 
    "Bal_menu Fejlec Fejlec"
    "Bal_menu Szoveg_blokk_1 Szoveg_blokk_2"
    "Bal_menu Lablec Lablec";
    gap: 5px 5px;
}

#feladat11-grid-elem-Fejlec{
    grid-area: Fejlec;
    border:1px solid red;
    
}

#feladat11-grid-elem-Bal_menu{
    grid-area: Bal_menu;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding:5px;
    box-sizing: border-box;
}

#feladat11-grid-elem-Szoveg_blokk_1{
    grid-area: Szoveg_blokk_1;
    border: 1px solid red;
}
#feladat11-grid-elem-Szoveg_blokk_2 {
    grid-area: Szoveg_blokk_2;
    border: 1px solid red;
}
#feladat11-grid-elem-Lablec {
    grid-area: Lablec;
    border: 1px solid red;
    text-align: center;
}

#feladat11-grid-elem-Bal_menu a:checked{
    text-decoration: none;
}

.feladat11_navigacios_csoport h3{
    padding:2px;
    margin:0;
   ;
}
.feladat11_navigacios_csoport {
    display:flex;
    flex-direction: column;
    
    
}


/* 12. Feladat */

#feladat12-grid-tarolo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px 5px;
    background-color: lightgray;
}

#feladat12-grid-tarolo div{
    background-color: lightskyblue;
}

#feladat12-grid-elem2 {
    justify-self: center;
}


/* 13. Feladat */

#feladat13-grid-tarolo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px 5px;
    background-color: lightgray;
    height: 150px;
}

#feladat13-grid-tarolo div {
    background-color: lightskyblue;
}

#feladat13-grid-elem2 {
    align-self: center;
}


/* 14. Feladat */

#feladat14-grid-tarolo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px 5px;
    background-color: lightgray;
    height: 150px;
    justify-items:end;
}

#feladat14-grid-tarolo div {
    background-color: lightskyblue;
}


/* 15. Feladat */

#feladat15-grid-tarolo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px 5px;
    background-color: lightgray;
    height: 150px;
    align-items: center;
}

#feladat15-grid-tarolo div {
    background-color: lightskyblue;
}


/* 16.Feladat  */

#feladat16-grid-tarolo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    background-color: lightgray;
    
    
}

#feladat16-grid-tarolo div {
    background-color: lightskyblue;
}

#feladat17-grid-tarolo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    gap: 2px;
}

#feladat17-grid-tarolo div{
    background-color: brown;
    border: 1px dotted black;
}
