<form id="contact-form" action="/submit_contact" method="post" title="Contact">
    <h2 class="form-group">Text me</h2>
    <div class="form-group">
        
            <label for="first-name">First Name:</label>
            <input id="first-name" type="text" placeholder="First name">
        
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" placeholder="Surname">
        
    </div>
    <div class="form-group form-full">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" placeholder="your@example.com">
    </div>
    
    <div class="form-group form-full">
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Write here your message..."></textarea>
        
    </div>
    <div class="form-actions">
        <input type="submit" value="Submit">
    </div>
</form>