<nav class="navbar">
  <ul id="navbar_linkek">
    <li><a class="navbar_linkek" href="/index.html">Home</a></li>
    <li><a class="navbar_linkek" href="/studies.html">Studies</a></li>
    <li><a class="navbar_linkek" href="/about.html">About</a></li>
    <li><a class="navbar_linkek" href="/contact.html">Contact</a></li>
    <li><a class="navbar_linkek" href="/portfolio.html">Portfolio</a></li>
    <li><a class="navbar_linkek" href="/admin-login.html" target="_blank">Login</a></li>
  </ul>
</nav>
