* {
    box-sizing:border-box;
}
html {
    overflow-y: scroll;
}

body {
    font-size: 1rem;
}


header {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

main {
    display:flex;
    flex-wrap:nowrap;
    padding-left: 1rem;
    padding-right:1rem;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}


#left-column {
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding-right:3rem;
}



#szemelyes-infok li {
    list-style: none;
}

#right-column {    
    flex:3;
    display: flex;
    flex-direction: column;
    align-items:center;
}


#experience-section{
    width: 100%;
}

#right-column,
.experience-item,
.experience-panel {
    min-width:0;
}

.experience-details-container{
    padding-left:1rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#tasks-section-list {
    list-style-type:none;
}

.emphathised,
strong {
    color:#0085a1;
}


.experience-panel li{
    list-style-type:disc;
    padding-bottom:1rem;
}



.job-timeframe {
    display:flex;
    flex-direction:column;
}

.timeframe-start,
.timeframe-end{
    gap:.3rem;
    display:flex;
}


#language-list {
    display:flex;
    flex-direction:column;
}

.certification-name{
    min-width:17ch;
}

.language-element{
    display: flex;
    flex-direction:column ;
    /* justify-content: center; */
    font-weight: 700;
}

.language-usage{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-weight: 300;
}

.language-usage progress{
    flex:3 3 auto;
    max-width:150px;
}

/*********************************************************/
/*Language Progress bar for Chrome, Edge, Safari (WebKit)*/
/*********************************************************/
.language-usage progress {
    appearance: none;
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
}

.language-usage progress::-webkit-progress-bar {
    background: #d9d9d9;      /* üres rész */
    border-radius: 5px;
}

.language-usage progress::-webkit-progress-value {
    background: #0085a1;      /* kitöltött rész */
    border-radius: 5px;
}
/*********************************************************/


/***********************************/
/*Language Progress bar for Firefox*/
/***********************************/
.language-usage progress::-moz-progress-bar {
    background: #0085a1;
    border-radius: 5px;
}
/***********************************/

.language-icon,
.emoji {
    display: inline-block;
    width: 3ch;
    font-size: xx-large;
    text-align: end;
}
.language-usage p{
    text-align:end;
    width:3ch;
    font-size:xx-large;
    margin:0;
}

.certifications-list-item {
    display: flex;
    align-items: baseline;
    flex-wrap:wrap;
}


/* .nyelvtudás-szint {
    display: grid;
    grid-template-columns: 1 2;
    
} */

.certification-year {
    text-align: center;
}

#skills-section li{
    list-style-type:none;
    padding-bottom: .5rem;;
}

/* AZ EXPERIENCE DETAILS PANEL TELJES ELREJTÉSE: */
.experience-panel {
    display: none;
    min-width:0;
    padding:1rem;
}

.experience-panel.active {
display: block;
}

.experience-tab{
    /* margin:.4rem; */
    padding:.4rem;
    min-width: 15%;
}

.experience-tab.active{
    font-weight:bold;
    background-color: #0085a1;
    color:antiquewhite;
}


.experience-item {
    width:100%;
}

.employer{
    font-size: x-large;
    text-shadow: -2px -1px #0086a14b;
}

/****************************************************************************************/
/* ELREJTEM A DETAILS ELEM EREDETI SAJÁT HÁROMSZÖGÉT, MERT "MÁSHOL AKAROM, HOGY LEGYEN" */
/****************************************************************************************/
summary {
    list-style: none;
}

/* summary::selection {
    list-style: none;
} */

summary::-webkit-details-marker {
    display: none;
}
/****************************************************************************************/

.experience-summary {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: 1px #0085a1 solid;
    margin-bottom:1rem;
    width: 100%;
}


.details-toggle {
    color:#0085a1;
    cursor: pointer;
}

.details-toggle::after {
    content: " ▼";
}

details[open] .details-toggle::after {
    content: " ▲";
}

.employer-container {
    width:50%;
    display:flex;
    flex-direction:column;
}

